<div class="max-w-2xl p-8 rounded-xl mx-auto text-center my-16 bg-gray-50">
  <h1 class="font-black xt-3xl">Supa-mega Passwordless App</h1>
  <p class="text-lg text-gray-600 my-4">Sign up for members-only access.</p>
  <div class="flex items-center space-x-3">
    <%= link_to "Sign in", users.sign_in_path, class: "bg-sky-500 text-white py-2 px-3 font-semiold"  %>
  </div>
</div>
